body {
  background-color: #545454;
  color: white;
  margin: 10px;
  font-size: 18pt;
}

.title{
  color: white;
  text-align: center;
  font-size: 36pt;
  padding: 10pt 30pt;
  margin: 0 auto;
}

.instructions {
  text-align: center;
  margin-bottom: 20px;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.word-region {
  width: 60%;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

.used-letters{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16pt;
  padding: 10px;
  border: 1px solid #DDD;
  height: 3em;
}

.hangperson {
  border: 2px solid #DDD;
}
